[buildout]
extensions=buildout.minitagificator
executable=python2.5
unzip = true
parts =
    testrunner
develop = ${buildout:directory}

[testrunner]
recipe = zc.recipe.testrunner
eggs = minitage.recipe [test]

[script]
recipe=minitage.recipe:scripts
eggs=ipython
    minitage.recipe

